.head {
    padding: 10px;
    display: flex;
    background-color: rgb(16, 130, 230);
    justify-content: center;
    align-items: center;
}
  
.home h2 {
    color: #060606;
    margin: 20px;
}

.home p {
    margin: 20px;
}
  
.body {
    font-family: Arial, sans-serif;
    background-color: #f3f2f4;
    margin: 0;
    padding: 0;
}
  
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0ea4ae;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
  
.gambar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
  
.side {
    flex: 1;
    font-size: 20px;
    color: #f8f5f5;
}
  
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    background-color: rgb(248, 6, 58);
}
  
.menu {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
}
  
.menu:hover {
    color: #333dff;
}
  

.h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.p {
    font-size: 16px;
    line-height: 1.5;
    color: #ffff;
}
  
.home,
.form,
.tabel {
    background-color: #f5f3f1;
    color: #0a0a0b;
}
  
.home {
    padding-top: 10px;
    border-radius: 10px;
    padding-bottom: 50px;
}

  footer {
    background-color: #1e0694;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px;
  }